body { background-color:#000000; 
       background-image:url(../Images/recordmap.jpg);

}

.Header {
    font-size: x-large;
    font-family: Impact;
    text-align: center;
 
}
/* h1 is for the Default.aspx*/
h1 {
    color: #111;
}
/* end of h1 for Default.aspx*/

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

googleMap {
    
}

footer {
    color: white;

}

p {
    color:white;
}
